<section id='todos'>
  <header>
    <h2 class='edit'>Editing '<%= @list[:name] %>'</h2>
    <ul>
      <li>
        <form class='delete' action='/lists/<%= @list_id %>/delete' method='post'>
          <button type='submit' class='delete'>Delete List</button>
        </form>
      </li>
    <ul>
  </header>
</section>

<form action='/lists/<%= @list_id %>' method='post'>
  <dl>
    <dt>
      <label for='list_name'>Update the name for your list:</label>
    </dt>
    <dd>
      <input name='list_name' type='text' value='<%= @updated_name || @list[:name] %>'>
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Update'>
    <a href='/lists/<%= @list_id %>'>Cancel</a>
  </fieldset>
</form>

<% content_for :header_link do %>
  <a class='list' href='/lists'>All Lists</a>
<% end %>