<ul id='lists'>
  <% sort(@lists) do |list| %>
  <li class='<%= list_class(list) %>'>
    <a href='/lists/<%= list[:id] %>'>
      <%= list[:name] %>
      <p>
        <%= list[:remaining_todos_count] %>/<%= list[:todos_count] %>
      </p>
    </a>
  </li>
  <% end %>
</ul>

<% content_for :header_link do %>
  <a class='add' href='/lists/create'>New List</a>
<% end %>