<ul id='lists'>
  <% sort(@lists) do |id, list| %>
  <li class='<%= list_class(list) %>'>
    <a href='/lists/<%= id %>'>
      <%= list[:name] %>
      <p>
        <%= remaining_todos_count(list) %>/<%= todos_count(list) %>
      </p>
    </a>
  </li>
  <% end %>
</ul>

<% content_for :header_link do %>
  <a class='add' href='/lists/new'>New List</a>
<% end %>